body {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#main_hero {
  height: 500px;
  display: flex;
  align-items: center;
}
.text-1 {
  font-size: 75px;
  line-height: 62px;
  padding: 1% 0 !important;
  padding-left: -3% !important;
}

/*ABOUT*/

.slider {
  width: 80%;
  height: 15px;
  border-radius: 34px;
  background-color: grey;
}
.inner-slider {
  background-color: orange;
  height: 15px;
  border-radius: 34px;
}
.btn {
  background-color: rgb(196, 136, 26);
  border-radius: 40px;
  align-items: right;
  text-align: right;
  transition: all 0.3s linear;
}
.btn:hover {
  background-color: darkgoldenrod;
  border: 2px solid orange;
  text-shadow: 2cm;
}

.image_fizza{
  text-align: left;
  width: 90%;
}

/*CONTACT*/

#icons {
  font-size: 45px;
}

.mail {
  color: grey;
}
.fa-github {
  color: grey;
}
.linkedin {
  color: rgb(40, 133, 170);
}


